
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #CCB1C3;
}
/* PAGE STRUCTURE */
body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../images/windfarm1.jpg);
  background-size:cover;
}
img {
  width: 100%;
  margin-bottom: -4px;
}
/* NAVIGATION STYLES */
nav {
  display: grid; grid-template-columns: auto 1fr;
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}
nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
}

.signinnav {
  background-color: white;
  color: #000000;
  transition: all 0.5s;
}

.signinnav:hover {
  background-color: #025060;
  color:white;
}
.indexnav {
  color: #000000;
  transition: all 0.5s;
}

.indexnav:hover {
  background-color: #F3D7D0;
  color:white;
}
.resourcesnav {
  color:#000000;
  transition: all 0.5s;
}

.resourcesnav:hover {
  background-color:#94CFE5;
  color:white;
}
.newsfeednav {
  color: #000000;
  transition: all 0.5s;
}

.newsfeednav:hover {
  background-color: #FF5176;
  color:white;
}
.leaderboardnav {
  color: #000000;
  transition: all 0.5s;
}

.leaderboardnav:hover {
  background-color: #CCB1C3;
  color:white;
}

/* MAIN CONTENT */
main {
  width:100%;
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  background-color: #CCB1C3;
  margin-top: 25px;
  margin-bottom: 50px;
}

.top-3 {
  width: 100%;
  font-family: 'Sarpanch', sans-serif;
  font-size: 35px;
}

.top-3 td {
  padding: 10px;
}

.top-3 td > div {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 20px;
}

.top-3 td > div img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 5px solid black;
}

.top-3 td > div div.top-player img{
  width: 100px;
  height: 100px;
  object-position: top;
}

.top-3 td > div div.second-player img{
  width: 50px;
  height: 50px;
  object-position: bottom;
}

.four-ten {
  width:100%; 
  border: 1px solid black;
  background-color: #F4D6EA;
  font-family: 'Sarpanch', sans-serif;
  border-radius: 20px;
  border: 5px solid black;
}

.four-ten td {
  border-top: 1px solid black;
}

.four-ten th {
  padding: 5px;
}
.four-ten td + td, .four-ten th + th {
  border-left: 1px solid black;
}

.four-ten td > img {
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid black;
}

.username {
  text-align: left;
  padding-left: 10px;
}

.username img {
  line-height: 50px;
  vertical-align: middle;
}

thead {
  border:1px solid black
}

.rank-column {
  width: 7.5%;
  text-align: center;
  padding: 25px;
}

.panels {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 250px;
}
footer {
  background-color:#222222;
}
