
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #C0736D;
}

#card {
  width: 600px;
  height: 200px;
  background-color: #000000;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;

}

#card i {
  font-size: 2.5em;
  
}

#cardtwo {
  width: 600px;
  height: 200px;
  background-color: #000000;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;

}
#cardthree {
  width: 600px;
  height: 200px;
  background-color: #000000;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;

}
#hotlines {
  position: absolute;
  width: 200px;
  height: 500px;
  background-color: #C7CDF7;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;
  font-family: 'Sansita', sans-serif;
  text-decoration: none;
  text-align: center;
}

#Searchbar{
  margin-left: 82%;
  margin-top: 1%;
  font-size: 15px;
}
.welcome *{
  display: inline-block;

}

#create{
  font-family: 'Sansita', sans-serif;
  font-size: 12px;
  color:black;
}

#plussign{
  color:#830743;
  font-size: 11px;
}
#searchsign{
  color: #830743;
  font-size: 18px;
}

/* NAVIGATION STYLES */
nav {
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}

nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
}

nav ul li a:hover {
  background-color:#E18B81;
  color: white;
  transition: all 0.5s;
}

nav ul li:last-child a {
  background-color: #C9CDF8;
  color: #000000;
  transition: all 0.5s;
}

nav ul li:last-child a:hover {
  background-color: #000000;
  color:white;
}
main {
  width:100%;
  max-width:900px;
  margin-left:5%;
  margin-right:auto;
}

h1{
  font-family: 'Comfortaa', cursive;
  margin-top: 20px;
  font-size: 25px;
}

