
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #FF9E96;
  background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
#mainandhotlines{
  display: flex;
}
#card {
  width: 600px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  font-family: 'Sansita', sans-serif;

}
#cookie {
  position: absolute;
  font-size: 38px;
  
}
#pfpdistance{
  position: relative;
  margin-left: 42px;
}

#Greyssi {
  padding: 20px;
  padding-left: 30px;
  padding-top: 3px;
}
#Greyssi img {
  width:44px;
  height:44px;
  border: 2px solid white;
  border-radius: 100%;
  object-position: right;
  position: relative;
  margin-bottom: -42px;
  margin-left: -11px;

}
#greymem{
  margin-left: 0.75em;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 8px;
  padding-top: 2px;
  padding-left: 50px;
  font-size: 13px;
}
#greytext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  padding-left: 50px;
}
#greycomment{
  position: relative;
  padding: 7px;
  width:601.6px;
  box-sizing: border-box;
}

#cardtwo {
  width: 600px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  font-family: 'Sansita', sans-serif;

}
#Abraham {
  padding: 20px;
  padding-left: 30px;
  padding-top: 3px;
}
#Abraham img {
  width:44px;
  height:44px;
  border: 2px solid white;
  border-radius: 100%;
  position: relative;
  margin-bottom: -42px;
  margin-left: -11px;
}

#abratext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}
#abracomment{
  position: relative;
  padding: 7px;
  width:601.6px;
  box-sizing: border-box;
}

#cardthree {
  width: 600px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  font-family: 'Sansita', sans-serif;
}
#Jonathan {
  padding: 20px;
  padding-left: 30px;
  padding-top: 3px;
}
#Jonathan img {
  width:44px;
  height:44px;
  border: 2px solid white;
  border-radius: 100%;
  position: relative;
  margin-bottom: -42px;
  margin-left: -11px;
}

#jontext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}
#joncomment{
  position: relative;
  padding: 7px;
  width:601.6px;
  box-sizing: border-box;
}
#alexcomment{
  position: relative;
  background-color: #DFDCDB;
  color:black;
  width:601.2px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#alex{
  margin-left: 6em;
}
#alex img {
  width:45px;
  height:45px;
  border: 2px solid white;
  border-radius: 100%;
  position: absolute;
  top: 4%;
  right: 84.5%;
  height: 30px;
  width: 30px;
}
#alextext{
  margin-left: 6em;
  font-family: 'Comfortaa', cursive;
}

#hotlines {
  width: 190px;
  height: 500px;
  background-color: #DFDCDB;
  margin-top: 110px;
  margin-right: 30px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;
  font-family: 'Sansita', sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  top: 35%;
  right: 3%;
}

#Searchbar{
  margin-top: 1%;
  font-size: 15px;
}
.welcome{
  font-weight: 700;
}
.welcome *{
  display: inline-block;

}

#create{
  font-family: 'Sansita', sans-serif;
  font-size: 12px;
  color:black;
}
.searchcontainer{
  text-align: right;
}

#plussign{
  color:#830743;
  font-size: 11px;
}
#searchsign{
  color: #830743;
  font-size: 18px;
}

#imalive{
  text-decoration: none;
  color: #0174C2;
}

#crisistextline{
  text-decoration: none;
  color: #0174C2;
}

/* NAVIGATION STYLES */
nav {
  display: grid; grid-template-columns: auto 1fr;
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}

nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
}

.signinnav {
  background-color: white;
  color: #000000;
  transition: all 0.5s;
}

.signinnav:hover {
  background-color: #025060;
  color:white;
}
.indexnav {
  color: #000000;
  transition: all 0.5s;
}

.indexnav:hover {
  background-color: #F3D7D0;
  color:white;
}
.resourcesnav {
  color:#000000;
  transition: all 0.5s;
}

.resourcesnav:hover {
  background-color:#94CFE5;
  color:white;
}
.newsfeednav {
  background-color: #FF5176;
  color: #000000;
  transition: all 0.5s;
}

.newsfeednav:hover {
  background-color: #FF5176;
  color:white;
}
.leaderboardnav {
  color: #000000;
  transition: all 0.5s;
}

.leaderboardnav:hover {
  background-color: #CCB1C3;
  color:white;
}
main {
  width:100%;
  max-width:900px;
  margin-left:5%;
  margin-right:auto;
}

h1{
  font-family: 'Comfortaa', cursive;
  margin-top: 20px;
  font-size: 25px;
}
