
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #FF9E96;
  background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

#card {
  width: 600px;
  height: 180px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  padding: 10px;
  font-family: 'Sansita', sans-serif;

}
#cookie {
  position: absolute;
  font-size: 38px;
  
}
#Greyssi {
  margin-left: 2.9em;
  margin-top: 7px;
}
#greymem{
  margin-left: 0.75em;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 8px;
  padding-top: 2px;
  font-size: 13px;
}
#greytext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}
#garciacomment{
  position: absolute;
  background-color: darkblue;
}
#greycomment{
  position: absolute;
  padding: 7px;
  width:601.6px;
}

#cardtwo {
  width: 600px;
  height: 180px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  padding: 10px;
  font-family: 'Sansita', sans-serif;

}
#Abraham {
  margin-left: 2.9em;
  margin-top: 7px;
}
#abramem{
  margin-left: 0.75em;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 8px;
  padding-top: 2px;
  font-size: 13px;
}
#abratext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}
#abracomment{
  position: absolute;
  padding: 7px;
  width:601.6px;
}

#cardthree {
  width: 600px;
  height: 190px;
  background-color: #000000;
  margin-top: 2%;
  box-shadow:3px 3px 3px #830743 ;
  color: white;
  padding: 10px;
  font-family: 'Sansita', sans-serif;
}
#Jonathan {
  margin-left: 2.9em;
  margin-top: 7px;
}
#jonmem{
  margin-left: 0.75em;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 8px;
  padding-top: 2px;
  font-size: 13px;
}
#jontext{
  margin-left:1.5em;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}
#joncomment{
  position: absolute;
  padding: 7px;
  width:601.6px;
}
#alexcomment{
  position: absolute;
  background-color: #DFDCDB;
  color:black;
  width:605.5px;
  padding: 7px;
}
#alex{
  margin-left: 6em;
}
#alextext{
  margin-left: 6em;
  font-family: 'Comfortaa', cursive;
}

#hotlines {
  position: absolute;
  width: 190px;
  height: 500px;
  background-color: #DFDCDB;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow:3px 3px 3px black;
  font-family: 'Sansita', sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

#Searchbar{
  margin-left: 82%;
  margin-top: 1%;
  font-size: 15px;
}
.welcome *{
  display: inline-block;

}

#create{
  font-family: 'Sansita', sans-serif;
  font-size: 12px;
  color:black;
}

#plussign{
  color:#830743;
  font-size: 11px;
}
#searchsign{
  color: #830743;
  font-size: 18px;
}

#imalive{
  text-decoration: none;
  color: #0174C2;
}

#crisistextline{
  text-decoration: none;
  color: #0174C2;
}

/* NAVIGATION STYLES */
nav {
  display: grid; grid-template-columns: auto 1fr;
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}

nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
}

nav ul li a:hover {
  background-color:#E18B81;
  color: white;
  transition: all 0.5s;
}

nav ul li:last-child a {
  background-color: #C9CDF8;
  color: #000000;
  transition: all 0.5s;
}

nav ul li:last-child a:hover {
  background-color: #000000;
  color:white;
}
main {
  width:100%;
  max-width:900px;
  margin-left:5%;
  margin-right:auto;
}

h1{
  font-family: 'Comfortaa', cursive;
  margin-top: 20px;
  font-size: 25px;
}
