
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #94CFE5;
}
/* PAGE STRUCTURE */
body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../images/windfarm1.jpg);
  background-size:cover;
}
img {
  width: 100%;
  margin-bottom: -4px;
}
/* NAVIGATION STYLES */
nav {
  display: grid; grid-template-columns: auto 1fr;
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}

nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
  font-weight: 700;
}

nav ul li a:hover {
  background-color:#E18B81;
  color: white;
  transition: all 0.5s;
}

nav ul li:last-child a {
  background-color: #C9CDF8;
  color: #000000;
  transition: all 0.5s;
}

nav ul li:last-child a:hover {
  background-color: #000000;
  color:white;
}

/* MAIN CONTENT */


.image-quote {
 display: flex;
 margin-bottom: 50px;
}

.resources-image {
  margin-left: 150px;
  margin-top: 100px;
  margin-right: 0px;
}

.recources-quote {
  margin-left: 0px;
  margin-top: 100px;
  margin-right: 150px;
  font-family: 'Sansita';
}
.natalie{
  width:70%;
}
.attheend {
  width: 100%;
  text-align: center;
}

.articles {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.article {
  border-radius: 10px;
  transition: 0.3s;
}

.article-text {
  padding: 10px;
  font-family: 'Sansita';
  font-size: 20px;
}

.article-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-paragraph {

}

.article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#stat {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Sansita';
}

.panels {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 250px;
}
footer {
  background-color:#222222;
}
