
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #025060;
}
nav {
  display: grid; grid-template-columns: auto 1fr; 
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;

}
nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
}

.signinnav {
  background-color: white;
  color: #000000;
  transition: all 0.5s;
}

.signinnav:hover {
  background-color: #025060;
  color:white;
}
.indexnav {
  color: #000000;
  transition: all 0.5s;
}

.indexnav:hover {
  background-color: #F3D7D0;
  color:white;
}
.resourcesnav {
  color:#000000;
  transition: all 0.5s;
}

.resourcesnav:hover {
  background-color:#94CFE5;
  color:white;
}
.newsfeednav {
  color: #000000;
  transition: all 0.5s;
}

.newsfeednav:hover {
  background-color: #FF5176;
  color:white;
}
.leaderboardnav {
  color: #000000;
  transition: all 0.5s;
}

.leaderboardnav:hover {
  background-color: #CCB1C3;
  color:white;
}

#card {
  width: 250px;
  height: 250px;
  background-color: #C4C4C4;
  margin:auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow:3px 3px 3px black;

}
#card i {
  font-size: 2.5em;
  
}

#card > *{
  position: absolute;
  transform: translate(-50%, -50%);

}

#username {
  position:relative;
  height: 7%;
  width: 75%;
  
}

#password{
  position: relative;
  height:7%;
  width: 75%;

}

#signupnow{
  position:absolute;
  text-decoration: none;
  font-weight: 600;
  color: #95DAEA;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}

.button{
  display: block;
  background-color: #009CB1;
  width: 65%;
  height: 10%;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  
}


h1{
  font-family: 'Sansita', sans-serif;
  color: black;
  font-size: 3em;
  -webkit-text-stroke: 1px black;
  -webkit-text-stroke: 0.5px white;
}

footer {
  background-color:#025060;
}
