
* {
  margin:0;
  padding:0;
}
html, body {
  width:100%;
  height:100%;
  background-color: #F3D7D0;
}
/* PAGE STRUCTURE */

img {
  width: 100%;
  margin-bottom: -4px;

}
/* NAVIGATION STYLES */
nav {
  display: grid; grid-template-columns: auto 1fr; 
  background-color: #ffffff;
}
nav div img {
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;

}
nav ul {
  text-align:right;
}
nav ul li {
  display:inline-block;
  text-align:right;
}
nav ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 1em;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Sansita', sans-serif;
}

nav ul li a:hover {
  background-color:#E18B81;
  color: white;
  transition: all 0.5s;
}

nav ul li:last-child a {
  background-color: #C9CDF8;
  color: #000000;
  transition: all 0.5s;
}

nav ul li:last-child a:hover {
  background-color: #000000;
  color:white;
}

/* MAIN CONTENT */

#homepageimg{
  width: 100%;
  height: 90%;
}
.container{
position: relative;
}
.tag {
  float: left;
  position: absolute;
  left: 30%;
  top: 31%;
  z-index: 1000;
  background-color: #f3f3f323;
  padding: 15px;
  color: #260229;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  font-family: 'Sansita', sans-serif;
}
.tagtwo {
  float: left;
  position: absolute;
  top:52%;
  left:18%;
  z-index: 1000;
  background-color: #f3f3f323;
  padding: 15px;
  color: #260229;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-family: 'Sansita', sans-serif;
}
.flexbox{
  display: flex;
}
.boxone{
  border-color: black;
  border-style: solid;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'Sansita', sans-serif;
  font-size: 40px;

}
footer {
  background-color:#222222;
}
